
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}
.container__add{
    margin-top: 10px;
    margin-bottom: 10px;
}
#text{
    width: 250px;
    height: 20px;
    margin-right: 5px;
}
.btn{
    width: 100px;
    height: 26px;
    color: white;
    background-color: rgb(2, 174, 2);
    border-radius: 3px;
    border: 1px solid rgb(2, 125, 2);
}
li{
    list-style: none;
    margin: 5px;
}
.nonactive{
    color: rgb(141, 141, 141);
    text-decoration: line-through;
}